.additionalInfo {
  text-align: center;
  font-weight: 700;
  margin-top: var(--space-2xl);
}

.container::before {
  opacity: 1;
  background-repeat: repeat-x;
}

.imageContainer {
  display: flex;
  justify-content: center;

  @media (min-width: 720px) {
    margin-bottom: -64px;
  }

  .stayTuned {
    width: 75%;
  }
}
