.container {
  width: 100%;
  background: var(--theme-primary-color-500);
  color: var(--color-white);
  font-size: var(--font-size-s);
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  margin: auto;
  max-width: var(--section-max-width);
  padding: calc(var(--section-spacing-vertical) - 16px) calc(var(--section-spacing-horizontal) - 32px);
}

.row {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  color: var(--color-text-alternative);
  font-size: var(--font-size-m);

  & + & {
    margin-top: var(--space-m);
  }

  .statuteText {
    display: block;
  }
}

.logo {
  width: 96px;
  height: 96px;
}

.socialContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-l);
  .foundUs{
    color: var(--color-text-alternative);
    font-size: var(--font-size-m);
  }
  .socialIcons {
    display: flex;
    gap: var(--space-l);
  }
}

.icon {
  fill: white;
  width: 36px;
  height: 36px;
  transition: fill .25s ease-in-out;
  &:hover, &:focus{
    fill: var(--color-text-alternative-strong);
  }
}

.links{
  transition: color .25s ease-in-out;
  &:hover, &:focus{
    color: var(--color-text-alternative-strong);
  }
}

@media (min-width: 480px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-3xl);

    & + & {
      margin-top: var(--space-m);
    }

    p + p {
      text-align: right;
    }
  }
}
