.title {
  margin-bottom: var(--space-l);
}

.place, .address {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: solid .3em var(--color-text-primary);
  animation: typewriter 3s steps(40) forwards, cursor-blink 0.3s 11 forwards;
}

.section {
  margin-top: var(--navbar-height);
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::before {
    // TODO: replace image
    background: var(--theme-primary-color-300) url("../../../assets/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoWrapper {
  display: none;

  .logo {
    width: 400px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  .badge{
    transform: translate(70%, 10%) rotate(15deg);
    margin: 0;
  }
}

.badgesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-xl);
}

.badgeWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.badge {
  margin-bottom: var(--space-xl);
  opacity: 0;
  animation: showup 2s 3.5s forwards;
}

.badgeDescription {
  max-width: 480px;
}

// tablet
@media (min-width: 480px) {
  .badgesContainer {
    flex-direction: row;
    align-items: flex-start;
  }

  .badgeWrapper {
    flex: 1;
  }
}

// desktop
@media (min-width: 1024px) {
  .logoWrapper {
    display: block;
  }

  .contentWrapper {
    flex-direction: row;
    align-items: space-between;
  }

  .badgeDescription {
    min-width: 356px;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor-blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-text-primary);
  }
}

@keyframes showup{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}