.heading {
  margin-bottom: var(--space-2xl);
}

.section {
  min-height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    background: var(--theme-primary-color-700) url("../../../assets/registration.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--color-text-strong);
  font-weight: 600;
}
