.item {
  &__header {
    font-weight: 600;
    display: flex;
    align-items: center;

    @media (max-width: 760px) {
      text-align: left;
      margin-bottom: 6px;
      font-size: 1.35rem;
    }

    &--time {
      color: var(--color-text-strong);
      align-self: flex-start;
    }

    &--location {
      color: var(--color-text-primary);
    }
  }

  &__row {
    display: flex;
    gap: 24px;

    &--description {
      padding: 24px 0;
      flex-direction: column;
    }
  }
}

.lecture__header {
  color: var(--color-text-primary);
  text-align: left;
}

.chevron {
  min-width: var(--chevron-width);
  width: var(--chevron-width);
  height: var(--chevron-height);
  fill: var(--color-text-strong);
  transform: rotate(0);
  transition: transform 0.5s ease-out;

  &.open {
    transform: rotate(180deg);
  }
}

.lectureButton {
  display: flex;
  position: relative;
  gap: 16px;
  z-index: 10;
  text-align: left;
  font-family: inherit;
  font-size: var(--font-size-m);
  padding: var(--space-s) var(--space-m);
  background-color: inherit;
  color: var(--color-text-alternative);
  border: none;
  cursor: pointer;
}

.lecturePanel {
  padding: var(--space-s) var(--space-m);
  line-height: 1.5;
}

.enter {
  transition: all 0.25s ease-in-out;
  transform-origin: top;
}

.enterFrom {
  transform: translateY(0) scaleY(0);
  opacity: 0;
  max-height: 0;
}

.enterTo {
  transform: translateY(-5px) scaleY(1);
  opacity: 1;
}

.leave {
  transform-origin: top;
  transition: all 0.15s ease-in-out;
}

.leaveFrom {
  transform: scaleY(1) translateY(-5px);
  opacity: 1;
  max-height: 400px;
}

.leaveTo {
  transform: scaleY(0) translateY(0);
  opacity: 0;
  max-height: 0;
}
